<p>Name: {{{makeBold name}}} </p>
<p>Email: {{{formatEmailLink email}}} </p>
<p>Phone Number: {{formatPhoneNumber phonenumber}} </p>
<p>Address: {{address}} </p>
<p>Occupation: {{formatCaptialize job}}</p>
<p>Selection: {{selection}}</p>
<p>Checked: {{checked}}</p>